@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "vazir";
    src: url('assets/fonts/Vazir.ttf')  format('truetype')
}

html {
    font-family: "vazir";
}

@layer components {
    .input-wrapper {
        @apply relative mb-5
    }
    .input-label {
        @apply absolute px-2 -top-2 right-4 text-xs  bg-white text-gray-b2
    }
    .input-field {
        @apply border border-[#ccc] w-full h-14 py-4 px-3 rounded-[10px]
    }
    .c-btn {
        @apply h-14 cursor-pointer border border-primary-orginal rounded-[10px] text-sm font-medium
    }
}

.page-enter-active,
.page-leave-active {
  transition: all 0.4s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}