@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    
}

@layer components {
    /*------------------- COLORS ----------------------- */

    .primary-orginal {
        color: #015699
    }
    .primary-b2 {
        color: #001A2E
    }
    .primary-b3 {
        color: #012B4D
    }
    .primary-b4 {
        color: #013C6B
    }
    .primary-w2 {
        color: #4D88B7
    }
    .primary-w3 {
        color: #80AACC
    }
    .primary-w4 {
        color: #B2CCE0
    }
    .primary-w5 {
        color: #E5EEF5
    }
    .primary-w6 {
        color: #E5EEF5
    }


    .gray-b1 {
        color: #191919
    }
    .gray-b2 {
        color: #333333
    }
    .gray-b3 {
        color: #4C4C4C
    }
    .gray-b4 {
        color: #7F7F7F
    }
    .gray-b5 {
        color: #999999
    }
    .gray-b6 {
        color: #B2B2B2
    }
    .gray-b7 {
        color: #E5E5E5
    }
    .gray-b8 {
        color: #F2F2F2
    }
    .gray-b9 {
        color: #FAFAFA
    }

    .error-b1 {
        color: #990101
    }
    .error-b1 {
        color: #AD3434
    }
    .error-b1 {
        color: #C26767
    }
    .error-b1 {
        color: #D69999
    }
    .error-b1 {
        color: #EBCCCC
    }

    .success-b1 {
        color: #019907
    }
    .success-b1 {
        color: #34AD39
    }
    .success-b1 {
        color: #67C26A
    }
    .success-b1 {
        color: #99D69C
    }
    .success-b1 {
        color: #CCEBCD
    }
}